@import "../../config/variables";

.content {
  margin: 0 auto;
  padding-bottom: $distance;
  padding-top: 9rem;
}

.headerWrapper {
  margin-bottom: 3rem;
  margin-top: 1rem;
  min-height: 25rem;
  position: relative;
  width: 100%;
}

.header {
  background-color: $brand-secondary;
  color: #fff;
  height: 35rem;
  padding: 1rem;
  position: absolute;
  text-align: center;
  transition: all 0.5s;
  width: 100%;
}

.bottom {
  font-size: 125%;
}
